<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" th:object="${event}">
    <div class="form-group">
        <label>Name
            <input th:field="*{name}" class="form-control">
        </label>
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div>
        <label>
            Description
            <input th:field="*{eventDetails.description}"  class="form-control">
        </label>
        <span th:errors="*{eventDetails.description}" class="error"></span>
    </div>
    <div>
        <label>
            Location
            <input th:field="*{eventDetails.location}"  class="form-control">
        </label>
        <span th:errors="*{eventDetails.location}" class="error"></span>
    </div>
    <div>
        <label>
            Email
            <input th:field="*{eventDetails.email}"  class="form-control">
        </label>
        <span th:errors="*{eventDetails.email}" class="error"></span>
    </div>
    <div>
        <label>
            Registration Required?
            <input type="checkbox" th:value="*{eventDetails.registration_required}" th:field="*{eventDetails.registration_required}"  class="form-control">
        </label>
        <span th:errors="*{eventDetails.registration_required}" class="error"></span>
    </div>
    <div>
        <label>
            Number of Attendees
            <input type="number" th:field="*{eventDetails.numberOfAttendees}"  class="form-control">
        </label>
        <span th:errors="*{eventDetails.numberOfAttendees}" class="error"></span>
    </div>
    <div class="form-group">
        <label> Category
            <span th:errors="${event.eventCategory}" class="error"></span>
            <select th:field="${event.eventCategory}">
                <option th:each="eventCategory : ${categories}"
                        th:value="${eventCategory.id}"
                        th:text="${eventCategory.name}">
                </option>
            </select>
        </label>
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>

</body>
</html>
