<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" th:object="${event}">
    <div class="form-group">
        <label>Name
            <input th:field="*{name}" class="form-control">
        </label>
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div>
        <label>
            Description
            <input th:field="*{description}"  class="form-control">
        </label>
        <span th:errors="*{description}" class="error"></span>
    </div>
    <div>
        <label>
            Location
            <input th:field="*{location}"  class="form-control">
        </label>
        <span th:errors="*{location}" class="error"></span>
    </div>
    <div>
        <label>
            Email
            <input th:field="*{email}"  class="form-control">
        </label>
        <span th:errors="*{email}" class="error"></span>
    </div>
    <div>
        <label>
            Registration Required?
            <input type="checkbox" th:value="*{registration_required}" th:field="*{registration_required}"  class="form-control">
        </label>
        <span th:errors="*{registration_required}" class="error"></span>
    </div>
    <div>
        <label>
            Number of Attendees
            <input type="number" th:field="*{numberOfAttendees}"  class="form-control">
        </label>
        <span th:errors="*{numberOfAttendees}" class="error"></span>
    </div>
    <div class="form-group">
        <label> Type
            <select th:field="${event.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}">
                </option>
            </select>
        </label>
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>

</body>
</html>
