<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Event Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Email</th>
        <th>Category</th>
        <th>Registration Required</th>
    </tr>
    </thead>
    <tr th:if="${events.size()}" th:each="event : ${events}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.name}"></td>
        <td th:text="${event.eventDetails.description}"></td>
        <td th:text="${event.eventDetails.location}"></td>
        <td th:text="${event.eventDetails.email}"></td>
        <td th:text="${event.eventCategory.name}"></td>
        <td th:if="${event.eventDetails.registration_required == true}">Yes</td>
        <!--        <td th:text="${event.registration_required}"></td>-->
    </tr>
</table>
<h3 th:unless="${events.size()}">No Events!!!</h3>
</body>
</html>
